{% extends "base.html" %}{% block title %}Courts{% endblock %}

{% block content %}

    <h1 align="center">All Courts</h1>
        
        {% if user.is_active %}
            <a href="/checkout">
                <input align="center" type="button" value="You are currently on {{user.current_court}}" />
            </a>   
        {% else %}
            <h3 align="center">You are not currently check into any court</h3>

        {% endif %}
    


        <ul class="list-group list-group-flush">
            {% for court in courts%}            
            <li class="list-group-item">
                <h3>{{court['name']}} 
                    <!-- <button type="button" class="close">See Court on map</button> -->
                    <a href="/courts?name={{court['name']}}" type="button", class="close">Show in Map</a>
                </h3>
                
                
            </li>
            {% endfor %}
        </ul>

    
{% endblock %}

