{% extends "base.html" %} {% block title %}{{court['name']}}{% endblock %} 

{% block content%}   
<script>
    

    let map;
    function initMap() {
        map = new google.maps.Map(
            document.getElementById("map"), 
            {
                center: {lat: 43.25472411693157, lng: -79.85625161100032},
                zoom: 8,
                mapId: '6a6625a538e03514',
                disableDefaultUI: true
            });

        const markerIcon = "https://cdn.discordapp.com/attachments/696724423733936212/929449261802852453/balltrack_mapmarker_icon.png";
    
        const markers = [
            [
                "hello",
                {{court['location']['lat']}},
                {{court['location']['lng']}}
                
            ]
        ];

        for(let i=0; i<markers.length; i++) {
            const currentMarker = markers[i];

            const marker = new google.maps.Marker({
                map: map,
                // title: markers[0],
                animation: google.maps.Animation.DROP,
                position: new google.maps.LatLng(currentMarker[1], currentMarker[2]),
                icon: markerIcon
            });
        }
    }
</script>




    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/map_stylesheet.css"/>




    <h1 align="center">
        {{court['name']}}

    </h1>
    
   
    
    
    <body>
        <div id="map"></div> 
        <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_Ig1A4IhrvXKZe7BTiyleDXJCcLMNoLQ&map_ids=6a6625a538e03514&callback=initMap&v=weekly"
            async defer>
        </script>
    </body>

{% endblock %}