<!DOCTYPE HTML>
{% extends "base.html" %}   {% block title %}Profile{% endblock %} {% block content %}
<body>
<div class="content-section">
    <div class="media">
    <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h1 align="center">Hello, {{current_user.first_name}}</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            <p><input type="file" name="file"></p>
            <p><input type="submit" value="Submit"></p>
    
      </div>
    </div>
</div>  
</body>

{% endblock %} 